
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_AjaxLayout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">SoftProdigy</h1>
    <p>
        Learn about <a href="https://www.softprodigy.com/">
            MAKE YOUR <b>BUSINESS</b>A PART OF THE
            <b>DIGITAL REVOLUTION</b> WITH US!
            A PROFICIENT TEAM, DELIVERING SERVICES IN
        </a>
    </p>
    <img src="~/Images/ajxDep.png" class="img-fluid" />
</div>